<%- include('./partials/header') %>
<div class="container">
  <section class="section sec4" id="blog">
    <div class="blog-content">
      <ul role="list" class="feed">
      <% for(var i=0; i<posts.length; i++) {%>
        
        <li class="feed-post">
          <a href="/post/<%= posts[i]._id%>">
          <img src="<%= posts[i].image%>" alt="" />
          <div class="feed-text">
            <h4><%= posts[i].caption %></h4>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisic elit.
              Officiis iure sapiente quod explicabo unde animi optio. Unde
              natus at corrupti?
            </p>
          </a>
          </div>
        
      </li>
        </a>
        
        <% } %>
      </ul>
    </div>
  </section></div>
<%- include('partials/footer') %>
